<nav class="navbar navbar-expand-lg navbar-light bg-light">

<%# The below bootstrap code implements the 'hamburger' collapsible menu: %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <span class="localvore">LocalVore</span>
  </a>
</nav>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%# <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li> %>

      <li class="nav-item">
        <a class="nav-link" href="/listings">Find Produce</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/listings/new">Share Produce</a>
      </li>

    <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="/carts">🛒</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/edit">Profile</a>
      </li>

    <%# looks good but method doesnt work %>
      <%# <li class="nav-item">
        <a class="nav-link" href="/users/sign_out" data-method="delete ">Logout</a>
      </li> %>

    <%# link works but looks blue: %>
      <li class="nav-item nav-link">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>

      <% else %>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">Login</a>
      </li>
    <% end %>
    </ul>
  </div>
</nav>