<div container-fluid>
<%# <p class="subtitle">buy, sell & swap locally grown, fresh produce</div> %>

<%# <%= image_tag('logo.png', class: 'logo') %>

<div class="hero-img img-fluid">
  <div class="hero-words">    
  <p class="subtitle">buy, sell & swap locally grown, fresh produce</p>
    <a class="btn btn-light btn-lg" href="/listings" role="button">Find Produce</a>
    <a class="btn btn-light btn-lg" href="/listings/new" role="button">Share Produce</a>
    <p>Would like some words here</p>
  </div>
</div>


hero image and banner with links to share or find 
<br>
under that 
<br>
why it's great paragraph
<br>
then 
<br>

<div class="welcome-signup">
Would you like to become a member?
<a class="btn btn-primary" href="/users/sign_up" role="button">Become a LocalVore</a>
</div>

<%= render "shared/back" %>
</div>
