<h1>Welcome#index</h1>
<br>
<p>
On this page... 
<br>
Nav Bar: About Us, Find Produce, Share Produce, Signup/in 
<br>
hero image and banner with links to share or find 
<br>
under that 
<br>
why it's great paragraph
<br>
then 
<br>
SIGN UP button again
</p>

<%= link_to "Back", :back %>
