<div container-fluid>
<%# <p class="subtitle">buy, sell & swap locally grown, fresh produce</div> %>

<%# <%= image_tag('logo.png', class: 'logo') %>

<div class="hero-img img-fluid">
  <div class="hero-words">    
  <p class="subtitle">buy, sell & swap locally grown, fresh produce</p>
    <a class="btn btn-light btn-lg" href="/listings" role="button">Find Produce</a>
    <a class="btn btn-light btn-lg" href="/listings/new" role="button">Share Produce</a>

    <% if !user_signed_in? %>
    <p class="sign-up"><strong>Not a member yet?</strong><br> Join our neighbouly marketplace community. Free to sign up & use</p>
    <a class="btn btn-light btn-lg" href="/users/sign_up" role="button">Become a LocalVore</a>
    </div>
    <% end %>

  </div>
</div>

<div class="why-text">
  <p > Use LocalVore to find fresh homegrown produce - within bike riding distance from your house, or share your homegrown bounty and connect with your community </p> 
</div>
 
</div>

<nav class="navbar navbar-light bg-light">
  <span class="navbar footer">LocalVore: <i>'one who eats only locally-grown foods'     </i></span>
  <span class="footer">     🙋🏼‍♀️Created by Emma Bindi, 2020 </span>
</nav>
