<h1>Welcome</h1>

<p>
On this page... 

<img src="app/assets/images/Logo-WhiteBG.png" class="img-fluid" alt="LocalVore Logo">

<img src="/assets/images/basil.png" />

<br>
hero image and banner with links to share or find 
<br>
under that 
<br>
why it's great paragraph
<br>
then 
<br>

<div class="welcome-signup">
Would you like to become a member?
<a class="btn btn-primary" href="/users/sign_up" role="button">Become a LocalVore</a>
</div>

<%= render "shared/back" %>
