<p class="subtitle">buy, sell & swap locally grown, fresh produce</div>

<%# <%= image_tag('logo.png', class: 'logo') %>



<div class="hero-img img-fluid">
  <div>
    <h1>Find Produce Near You</h1>
  </div>
</div>


hero image and banner with links to share or find 
<br>
under that 
<br>
why it's great paragraph
<br>
then 
<br>

<div class="welcome-signup">
Would you like to become a member?
<a class="btn btn-primary" href="/users/sign_up" role="button">Become a LocalVore</a>
</div>

<%= render "shared/back" %>
