<h1>Cart</h1>

<ul>
  <% @cart.each do | listing | %>
    <li><%= listing.title %>  <%= number_to_currency(listing.price) %></li>
  <% end %>
</ul>

<%# ADD IN A PAYMENT TOTAL %>

<%# MAKE SURE ONLY THE SAME GROWER IS COMBINED TOGETHER %>

<%= link_to "Pay for Cart", "", id: "stripe" %>

<%= javascript_pack_tag "stripe" %>