<h2>Locations Index</h2>

<div class="container">
<% @locations.each do | location | %>
  <h3>Address: <%= location.full_address %></h3>
  <hr>
<% end %>
</div>

<div class="container">
<div style="height: 500px; width: 500px" id="map"></div>
</div>

<%= javascript_pack_tag "leaflet/index" %>
