.card {
  flex-direction: row;
  margin: 5px;
}

.card-top {
  display: flex;
  flex-direction: row;
}

.card-top-text {
  width: 100%;
}

.img-index {
  height: 220px;
  max-width: 180px;
  margin-right: 10px;
  border: 2px solid white;
}

.img-show {
  max-height: 300px;
  max-width: 200px;
  margin-right: 10px;
  border: 2px solid white;
}
.sorting {
  display: flex;
  flex-direction: row;
}

.sorting-links {
  font-size: 11px;
  margin-right: 5px;
}

.show-edit-delete a {
  margin: 0px 8px 5px 8px;
  padding: 8px;
  // color: black;
}
