* {
  // font-family: "Times New Roman", Times, serif; 
  margin-left: 2px;
}

.container {
  display: flex;
  flex-direction: row;
}

.notice {
  font-style: italic;
}

.alert {
  font-style: italic;
}

h2 {
  margin-top: 10px;
  margin-left: 10px;
}